Задание 1

In [89]:
word = 'qwert'
if len(word) % 2 == 0:
    print(word[2:4])
elif len(word) % 2 != 0:
    print(word[2])

e

Задание 2

In [207]:
x = int(input('Введите число '))
while x != 0:
    x = int(input('Введите число '))
    y = x + x
    pass
print('Результат', y)

Введите число 1
Введите число 4
Введите число 6
Введите число 0
Результат 0

Задание 3

In [237]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
list.sort(boys)
list.sort(girls)
if len(boys) == len(girls):
    print(boys[0], 'и', girls[0])
    print(boys[1], 'и', girls[1])
    print(boys[2], 'и', girls[2])
    print(boys[3], 'и', girls[3])
    print(boys[4], 'и', girls[4])
else:
    print('Внимание, кто-то может остаться без пары!')

Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha


Задание 4

In [389]:
countries_temperature = [
['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
['Germany', [57.2, 55.4, 59, 59, 53.6]],
['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]
new_list = [item for sublist in countries_temperature for item in sublist]
print(f'Средняя температура в странах:\n '
    'Thailand', (sum(new_list[1]) / len(new_list[1]) - 32) * 5/9, 'C\n',
    'Germany', (sum(new_list[3]) / len(new_list[3]) - 32) * 5/9, 'C\n',
    'Russia', (sum(new_list[5]) / len(new_list[5]) - 32) * 5/9, 'C\n',
    'Poland', (sum(new_list[7]) / len(new_list[7]) - 32) * 5/9, 'C'
)

Средняя температура в странах:
 Thailand 23.85714285714285 C
 Germany 13.799999999999999 C
 Russia 3.714285714285717 C
 Poland 11.999999999999996 C